@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-image: url(./snow.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 7%;
}
body h1{
    font-size: 3vw;
    font-weight: 300;
}
.container{
    display: flex;
    gap: 1vw;
    width: 100vw;
    justify-content: center;
}
.countDown{
    text-align: center;
    width: 8vw;
}
.countDown span{
    font-size: 2vw;
}
.beg-text{
    font-size: 4vw;
    margin-top: 0%;
    margin-bottom: 2%;
}
@media(max-width:600px){
    body h1{
        font-size: 8vw;
    }
    .container{
        gap: 4vw;
    }
    .countDown{
        width: 16vw;
    }
    .countDown span{
        font-size: 5vw;
    }
    .beg-text{
        font-size: 10vw;
        margin-top: 0%;
        margin-bottom: 2%;
    }
}